# Ignorowanie plików i katalogów generowanych przez MongoDB
data/
!data/mongodb.log

# Ignorowanie plików tymczasowych i systemowych
*.log
*.pyc
__pycache__/

# Ignorowanie plików środowiska wirtualnego
venv/
.env

# Ignorowanie plików IDE
.vscode/
.idea/
*.swp
*.swo

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db
